 <section class="post-header">
    <div class="header-content post-container">
      <a href="index.html" class="back-home">Back To Home</a>

      <h1 class="header-title">How to create best ux design with adobe?</h1>

      <img src="img/post-1.jpg" alt="" class="header-img" />
    </div>
  </section>

  <!-- Posts -->

  <section class="post-content post-container">
    <h2 class="sub-heading">Create Best UX Design</h2>
    <p class="post-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime vero
      sint ex sequi quisquam, quo tenetur. Corrupti placeat porro iure
      repudiandae ea numquam sapiente, sint quaerat accusantium nesciunt,
      deserunt saepe molestiae officiis at maiores quas dolore pariatur sequi.
      Aspernatur omnis at sint fugit quasi magni!
    </p>
    <p class="post-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime vero
      sint ex sequi quisquam, quo tenetur. Corrupti placeat porro iure
      repudiandae ea numquam sapiente, sint quaerat accusantium nesciunt,
      deserunt saepe molestiae officiis at maiores quas dolore pariatur sequi.
      Aspernatur omnis at sint fugit quasi magni!
    </p>
  </section>

  <div class="footer container">
    <p>&#169; Fatjon Camishi All Rights Reserved</p>

    <div class="social">
      <a href="" class="bx bxl-facebook"></a>
      <a href="" class="bx bxl-twitter"></a>
      <a href="" class="bx bxl-instagram"></a>
      <a href="" class="bx bxl-linkedin"></a>
    </div>
  </div>

